*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.col-md-3 .card {
    display: flex;
    justify-content: center;
    align-items: center;

}
 .card img{
    transition: transform .2s;
}
 .card img:hover{
    transform:scale(1.2);
}